# Supabase
DATABASE_URL=""

# BetterAuth 
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

#  Github App
GITHUB_APP_NAME=""
GITHUB_APP_ID=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_WEB_HOOK_SECRET=""
GITHUB_APP_PRIVATE_KEY=""

# Inngest setting[Only for devalopment]
INNGEST_DEV=1 

# AI API key
OPENROUTER_AI_KEY=""

# Pine cone
PINECONE_INDEX=""
PINECONE_API_KEY=""

# RazorPay 
RAZORPAY_API_KEY=""
RAZORPAY_API_SECRET=""
RAZORPAY_PLAN_ID=""
